body{
  padding-left: 100px;
  padding-right: 100px;
}

.delicious{
  font-family: 'Yellowtail', cursive;
}

nav{
  float: right;
}

.chocopizza{
  margin:auto;
}

.print{
  float: right;
}

.list{
  z-index: 1;
}

.ingredientslist1{
  z-index: 5;
}

.ingredientslist2{
  z-index: 5;
}


